<div class="card">
    <div class="card-body">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">
            {{profileTitle.TitleProfile}}
          </h4>
        </div>
        <div class="ml-auto">
            <button type="button" (click)="clickEditProfile()" 
            class="btn btn-rounded btn-outline-danger">{{profileTitle.TitleStaffEditBtn}}</button>
          </div>
      </div>
      <form [formGroup]="profileForm" (submit)="onSubmitEditProfile($event)">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <label class="control-label required-field" for="username">{{profileTitle.TitleStaffUserName}}</label>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">{{profileTitle.TitleStaffErrorUserNameRequired}}</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <label for="email" class="control-label required-field">Email</label>
              <input type="text" formControlName="email" class="form-control" 
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{profileTitle.TitleStaffErrorEmailRequired}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isEditProfile">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <label for="password"  class="control-label required-field" >{{profileTitle.TitleCreateNewStaffPassword}}</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{profileTitle.TitleCreateNewStaffErrPasswordReq}}</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <label for="password2"  class="control-label required-field">{{profileTitle.TitleCreateNewStaffPasswordAgain}}</label>
              <input type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
              <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                  <div *ngIf="f.password2.errors.required">{{profileTitle.TitleCreateNewStaffErrPasswordReq}}</div>
                  <div *ngIf="f.password2.errors.pwdNotMatch">{{profileTitle.TitleCreateNewStaffPasswordNotMatch}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <label for="phoneNumber">{{profileTitle.TitleStaffPhoneNumber}}</label>
              <input type="text" (keypress)="numberOnly($event)" oninput="this.value=this.value.slice(0,this.maxLength)" formControlName="phoneNumber" class="form-control"  maxlength="15"  />
            </div>
            <div class="col-lg-6 col-md-6">
              <label for="role" class="control-label required-field">{{profileTitle.TitleStaffRole}}</label>
              <div>
                <select class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <option *ngFor='let ts of listRole'  [value]="ts.role" [selected]="ts.isSelected">{{ts.label}}</option>
                </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                  <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <button [disabled]="loading" *ngIf="isEditProfile"  type="button" (click)="onSubmitEditProfile($event)"  class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{profileTitle.TitleStaffEditBtn}}
        </button>
    </form>
    </div>
  </div>