<div class="card">
    <div class="card-body">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">
            {{productTitle.TitleManageListProduct}}
          </h4>
        </div>
        <div class="ml-auto">
          <button type="button"  class="btn btn-rounded btn-outline-danger">{{productTitle.TitleCreateNew}}</button>
        </div>
      </div>
  
    </div>
    <div class="table-responsive">
      <table class="table v-middle mb-0">
        <thead>
          <tr >
              <th *ngFor='let ts of productTitle.TitleTableColumnsListProduct' class="border-top-0 font-medium border-bottom-0">{{ts}}</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor='let ts of listProductsInformation'>
            <td>
              <div class="d-flex align-items-center">
                <div class="">
                  <h4 class="m-b-0 font-16">{{ts.name}}</h4>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <a>{{ts.category}}</a>
              </div>
            </td>
            <td>-</td>
            <td>{{ts.price}}</td>
            <td>{{ts.sellingPrice}}</td>
            <td>{{ts.number}}</td>
            <td>
                <div class="d-flex align-items-center">
                  <div class="m-r-10">
                    <button type="button" ngbTooltip="{{btnEdit}}" class="btn btn-circle " (click)="selectedUserToEdit(ts, editUserContent)"><i class="fas fa-edit"></i></button>
                  </div>
                  <button type="button" ngbTooltip="{{btnDelete}}" class="btn btn-circle " (click)="selectedUserToDelete(ts, confirmDeleteUser)"> <i class="fas fas fa-trash"></i></button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>